pytest_cache/
vscode/
build/
cms_parser.egg-info/
dist/
src/__pycache__/
tests/__pycache__/
src/cms_parser/__pycache__/

# https://stackoverflow.com/questions/1274057/how-do-i-make-git-forget-about-a-file-that-was-tracked-but-is-now-in-gitignore